.side--menu{
    position: fixed;
    display: flex;
    top: 50%;
    left:0%;
    width:25%;
    background-color: #2E3440;
}
.side--menu h2{
    font-size: 2.5rem;
    cursor: pointer;
    color: whitesmoke;
}
.side--menu--headers{
    list-style-type: none;
    transition: 1s all;
}

.moved{
    transform: translateX(3.5rem);
    transition: 1s all;
}

.side--menu--inner{
    list-style-type:square;
    position: relative;
    color: white;
    display: none;
    transform-origin: top;
    
}

@keyframes amim {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
    
}
.side--menu--icon{
    transition: 1s all;
    position: absolute;
    width: 3.5rem;
    background-color: violet;
    height: min-content;
    padding: 1%;
    border-radius: 1000px;
    z-index: 10;
}
.side--menu--icon>img{
    width: 100%;
}