#songInfo{
    font-size: 1.3rem;
    padding:1%;
    color:whitesmoke;
    text-align:center;
    width:45%;
}
#songTitleAndControls{
    display: flex;
    justify-content: center;
}
#songTitleAndControls>button{
    color:white;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #222;
}
audio{
    width:100%;
    color:whitesmoke;
    
    
    
    box-shadow: none;
    
    filter: invert(0.904) grayscale(1);
}
-webkit-media-slider-container{

   border:none; 
}
