a{
    color: inherit;
    text-decoration: none;
}

img:not(.logo>img)
{
    box-shadow: #a02457 -4px 4px;
}

.container{
    color: whitesmoke;
    text-shadow: #a02457 2px 1px;
}
.pp
{
  transition: 1s;  
}
.pp>p{
    transition: 1s all; 
    position:relative;
    display: none;
}
.pp:hover>p
{
    top:-15%;
    left:15%;
    display: inline;
    transition: 1s all; 
}