#songInfo{
    font-size: 1.3rem;
    padding:1%;
    color:whitesmoke;
    text-align:center;
    width:45%;
}
#songTitleAndControls{
    display: flex;
    justify-content: center;
}
#songTitleAndControls>button{
    color:white;
    padding-top: 1%;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #222;
}
audio{
    width:100%;
    color:whitesmoke;
    box-shadow: none;
    filter: invert(0.9) grayscale(1);
}
-webkit-media-slider-container{

   border:none; 
}
audio::-webkit-media-controls-toggle-closed-captions-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-return-to-realtime-button
{
    display: none;
}